/* Normalize CSS */

/* Header */
.masthead {
    text-align: center;

}

/* Header */
img {
    display: block;
    border: 0;
    width: 100%;
    min-width: 100px;
    min-height: 50px;
    max-height: 400px;
    max-width: 200px;
    height: auto;
  }
    
.cards {
margin: 0;
padding: 0;
list-style-type: none;
}
html{background: #383c41;}
.cards a {
display: block;
margin-bottom: 1em;
text-decoration: none;
}

.caption {
padding: 1em;
background: hsla(246, 54%, 59%, 0.06);
color: white;
font-size: 1.2em;
transition: all 0.4s;
}

a:focus .caption,
a:hover .caption {
background: hsla(246, 40%, 30%, 1);
}

.caption-title {
margin: 0;
font-size: 1.4em;
line-height: 1.1em;
}
h3{color:lightslategray ;}
/* Footer */
footer{
    text-align: center;
    opacity: 0.85;
}
/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@media screen and (min-width: 30em) {
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}

.cards a {
    margin-bottom: 0;
}

.card {
    display: grid;
}

.card img,
.caption {
    grid-column: 1;
    grid-row: 1;
}

.caption {
    display: flex;
    flex-direction: column;
    opacity: 0;

    /* Alignment */
    /*     align-items: flex-end; */
    /*     justify-content: flex-end; */
}

a:focus .caption,
a:hover .caption {
    background: hsla(246, 40%, 30%, 0.6);
    opacity: 1;
}
}

@media screen and (min-width: 60em) {
.cards {
    grid-template-columns: repeat(4, 1fr);
}
}
